.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.thirty-seventy-column {
    display: flex; 
    gap: 1rem;
}

/* First child: 30% width */
.thirty-seventy-column > div:first-child {
    flex: 0 0 30%;
}

/* Second child: 70% width */
.thirty-seventy-column > div:last-child {
    flex: 0 0 70%;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
