/* stylelint-disable no-descending-specificity */
.teaser {
    display: grid;
    grid-template-areas: "teaser";
    align-items: end;
    justify-items: center;
}

.teaser > div {
    grid-area: teaser;
}

/* teaser image */
.teaser > div:first-child {
    width: 100%;
}

.teaser picture {
    width: 100%;
    height: 100%;
}
.teaser h3 { 
    font-size: 1.2em;
    margin-bottom: 2rem;
    font-weight: 500;
}
.teaser h2 {
    font-family: var(--body-font-family);
    margin: .5em 0;
}

.teaser h2 a {
    color: #202020
}
.teaser-container .default-content-wrapper {
    margin : unset;
}
.teaser-wrapper {
    margin : unser;
}
.teaser.image-right img{
    max-width: 400px;
}
.teaser.image-right > div:nth-child(1) {
    grid-column: auto;
}
.teaser.image-right > div:nth-child(2) {
    padding: 0px 30px 0px 30px;
}
.news-updates h3 {
    font-size: 1.2em;
    margin-bottom: 2rem;
    font-weight: 500;
}
.news-updates ul {
    list-style: none;
    padding: 3px;
}
.news-updates li {
    margin-bottom: 15px;
    font-size: 14px;
}
.news-updates li a {
    color: #000;
    display: -webkit-box;
    max-width: 100%;
    line-height: 21px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.news-updates a:link, a:visited {
    text-decoration: none;
}
.news-updates > div:nth-child(1) {
    background: white;
    padding: 1.5rem;
    color: black;
}
.news-updates > div:nth-child(2) {
    background-color: #1378be;
    color: #fff;
}
.bg-gray{
    background : #ebebeb;
}
.padding-min {
     padding:10px 50px 10px 50px !important;
}
.padding-medium {
    padding:30px 150px 30px 150px !important;
}
.padding-max {
    padding:48px 250px 48px 250px !important;
}
