/* stylelint-disable no-descending-specificity */
.teaser {
    display: grid;
    grid-template-areas: "teaser";
    align-items: center;
    justify-items: center;
}

.teaser > div {
    grid-area: teaser;
}

/* teaser image */
.teaser > div:first-child {
    width: 100%;
}

.teaser picture {
    width: 100%;
    height: 100%;
    display:flex;
}
.teaser h3 { 
    font-size: 1.2em;
    margin-bottom: 2rem;
    font-weight: 500;
}
.teaser h2 {
    font-family: var(--body-font-family);
    margin: .5em 0;
}

.teaser h2 a {
    color: #202020
}
.teaser-container .default-content-wrapper {
    margin : unset;
}
.teaser-wrapper {
    margin : unset;
}
.teaser.image-right img{
    max-width: 400px;
}
.teaser.image-right > div:nth-child(1) {
    grid-column: auto;
}
.teaser.image-right > div:nth-child(2) {
    position: relative;
    padding: 0px 30px 0px 30px;
}
.teaser.image-right > div:nth-child(2)::after {
      content: '';
      position: absolute;
      top: 3px; /* 5px below the top edge */
      right: 0; /* At the edge */
      width: 0;
      height: 0;
      /* Equilateral triangle pointing inward */
      border-style: solid;
      /* Equal heights for top and bottom to create an equilateral triangle */
      border-width: 15px 20px 15px 0;
      border-color: transparent white transparent transparent;
}
.news-updates h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.news-updates ul {
    list-style: none;
    padding: 3px;
}
.news-updates li {
    margin-bottom: 15px;
    font-size: 14px;
}
.news-updates li a {
    color: #000;
    display: -webkit-box;
    max-width: 100%;
    line-height: 21px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.news-updates a:link, a:visited {
    text-decoration: none;
}

.news-updates > div:nth-child(1) {
    background: white;
    padding: 1.5rem;
    color: black;
    margin: 0;
}
.news-updates > div:nth-child(2) {
    background-color: #1378be;
    color: #fff;
    margin: 0;
}



.teaser-container.three-column .teaser-wrapper {
}

.feature-info {
    display: block;
}
.feature-info > div:nth-child(1) {
    padding: 0;
}
.feature-info > div:nth-child(2) {
    padding: 5%;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 85%;
    height: 225px;
    background-color: #fff;
    margin-top: -25%;
    z-index: 11111;
    position: relative;
    text-align: center;
}
.feature-info img {
    display: block;
    min-height: 350px;
    object-fit: cover;
}
.feature-info h3 {
    display: block;
    color: #08b17f;
    font-size: 20px;
    font-weight: 600;
    float: initial;
    width: 100%;
    margin-bottom: 10px;
}
.feature-info p {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0;
}



.bg-gray{
    background : #ebebeb;
}
.bg-green{
    background: #08b17f;
}
.padding-min {
    padding:10px 50px 10px 50px !important;
   /* padding:10px 50px 10px 50px !important; */
   padding: 2% 4% !important;
   box-sizing: border-box;
}
.padding-medium {
   padding:30px 150px 30px 150px !important;
   /* padding:30px 150px 30px 150px !important; */
   padding: 4% 7% !important;
   box-sizing: border-box;
}
.padding-max {
   padding:48px 250px 48px 250px !important;
   /* padding:48px 250px 48px 250px !important; */
   padding: 5% 15% !important;
   box-sizing: border-box;
}

.button-container > a.button {
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: -moz-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,159,148,1)), color-stop(100%, rgba(49,109,179,1)));
    background: -webkit-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -o-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -ms-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: linear-gradient(to right, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b9f94', endColorstr='#316db3', GradientType=1 );
    transition: ease all 0.3s;   
}
.button-container > a.button:hover, .button-container > a.button:active, .button-container > a.button:focus {
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    background: rgba(47,111,176,1);
    background: -moz-linear-gradient(left, rgba(47,111,176,1) 0%, rgba(93,177,136,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47,111,176,1)), color-stop(100%, rgba(93,177,136,1)));
    background: -webkit-linear-gradient(left, rgba(47,111,176,1) 0%, rgba(93,177,136,1) 100%);
    background: -o-linear-gradient(left, rgba(47,111,176,1) 0%, rgba(93,177,136,1) 100%);
    background: -ms-linear-gradient(left, rgba(47,111,176,1) 0%, rgba(93,177,136,1) 100%);
    background: linear-gradient(to right, rgba(47,111,176,1) 0%, rgba(93,177,136,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f6fb0', endColorstr='#5db188', GradientType=1 );
    transition: ease all 0.3s;
    color: #fff;
}

ul li .button-container a.button,
ul li .button-container a.button:hover,
ul li .button-container a.button:active,
ul li .button-container a.button:focus  {
    background:transparent;
    background-origin: none;
    filter: none;
    color: #000;
    transition: none;
    padding: 0;
}

@media (width >= 1024px) {
    .teaser-wrapper {
        margin : unset;
    }
}

.teaser.image-left.block {
    display: inline-flex;
}

.teaser.image-top.block {
    display: inline-block;
}


.teaser.image-left.block {
    margin: 30px;
}
 
.teaser.image-left.block > div {
    margin: 20px;
}
 
.teaser.image-top.block > div {
    margin: 20px;
}
 
.image-top img {
    width: 100%;
}
