footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
  border-top: 1px solid #ddd;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer h5 {
  color: #007ea8;
  line-height: 40px;
  font-size: 20px;
}

footer .footer p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

footer .footer img {
  width: auto;
  height: 85px;
}

.footer.block h3 a{
    color: #007ea8;
    line-height: 40px;
    font-size: 20px;    
}
.footer.block h3 a{
    color: #007ea8;
    line-height: 40px;
    font-size: 20px;    
}

.footer.block ul {
    list-style: none;
    padding: 0;
}


@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
